# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints

# Environments
.env/
env/
.venv/
venv/

# Data
data/raw/
data/processed/
*.csv

# MLflow
mlruns/
mlartifacts/
*.log

# Streamlit cache
.streamlit/

# Jupyter
*.ipynb

# OS
.DS_Store
Thumbs.db
